body{
    text-align: center;
    background-color: rgb(241, 189, 214);
    font-family:"Arial" ,sans-serif;
}

h1{
    color: rgb(199, 48, 118);
}

button{
    padding: 10px;
    font-size: 18px;
    background-color: rgb(192, 51, 138);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgba(97, 32, 83, 0.521);
}

.result{
    margin-top: 20px;
    font-size: 20px;
}